/*Header Styles*/

.header{
    height: 50px;
    width: 100%;
}

.nav{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-header-Container{
    margin-right: 30px;
}

.links-header{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.links-header li{
    padding-left: 10px;
}

.ancor-text{
    text-decoration: none;
    color:black;
    font-weight: bold;

}

.menu-apps-Container{
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

.menu-apps{
    height: 20px;
    width: 20px;
}

.profile-picture-Container{
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    margin-right: 40px;
}

.profile-picture{
    height: 40px;
    border-radius: 50%;
}

/*Body Styles*/

.body-logo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
    margin-bottom: 10px;
}

.google-logo-Container{
    margin: 0;
}

.google-logo{
    width: 330px;
}

.body-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.input-search{
    width: 600px;
    height: 32px;
    border-radius: 25px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 5px rgba(56, 56, 56, .2), -2px -2px 5px rgba(56, 56, 56, .2);
}

.body-buttons{
    margin-top: 25px;
    height: 145px;
    
}

.buttons-Container{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.buttons{
    width: 180px;
    height: 35px;
    border: 1px solid rgba(145, 145, 145, 0.2);
    border-radius: 8px;
    background-color: rgba(145, 145, 145, 0.2);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-right: 15px;
}

.buttons:hover{
    cursor: pointer;
}

.buttons:active{
    width: 177px;
    height: 37px;
    border:  1px solid rgba(145, 145, 145, 0.2);
    border-radius: 6px;
    background-color: rgba(145, 145, 145, 0.2);
    
}

.text-under-buttons{
    display: flex;
    justify-content: center;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16;
    font-weight: bold;
    margin-top: 30px;
}

.text-under-buttons a{
    color: rgb(35, 35, 168);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16;
}

/*Footer Styles*/

.footer{
    background-color: rgba(145, 145, 145, 0.1); 
    margin-top: 123px;
}

.fake-footer{
    border-bottom: 1px solid rgba(145, 145, 145, 0.5);
    height: 35px;
    display: flex;
    align-items: center;
    
}

.country{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-left: 15px;
}

.real-footer{
    
    background-color: rgba(145, 145, 145, 0.1);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.about-google a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-left: 15px;
    text-decoration: none;
    color: black;
}

.about-google a:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

.terms-google a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-right: 15px;
    text-decoration: none;
    color: black;
}

.terms-google a:hover{
    text-decoration: underline;
    text-decoration-color: black;
}
