/*Header Styles*/

.header{
    height: 50px;
    width: 100%;
}

.nav{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-header-Container{
    margin-right: 30px;
}

.links-header{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.links-header li{
    padding-left: 10px;
}

.ancor-text{
    text-decoration: none;
    color:black;
    font-weight: normal;

}

.ancor-text:hover{
    font-size: 14.2px;

}

.menu-apps-Container{
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

.menu-apps{
    height: 20px;
    width: 20px;
}

.profile-picture-Container{
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    margin-right: 40px;
}

.profile-picture{
    height: 40px;
    border-radius: 50%;
}

/*Body Styles*/

/*Styles Logo Google*/

.body-logo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
    margin-bottom: 25px;
}

.google-logo-Container{
    margin: 0;
}

.google-logo{
    width: 330px;
}

/*Styles Form with icons*/

.body-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    border-radius: 28px;
    border: 1px solid #dfe1e5;   
}

.form:hover{
    box-shadow: 0 1px 6px 0 #02212447;
    border: 1px solid #c4c4c4; 
}

.search-icon{
   background-image: url("../assets/img/zoom.png");
   background-repeat: no-repeat;
   background-position: left;
   background-size: contain; 
   width: 33px;
   height: 16px;
}

.input-search{
    width: 500px;
    height: 37px;
    border: none;
    outline: none;
}

.micro-icon{
    background-image: url("../assets/img/voice.svg");
   background-repeat: no-repeat;
   background-position: right;
   background-size: contain; 
   width: 33px;
   height: 18px;
}

/*Styles Butttons*/

.body-buttons{
    width: 100%;
    
}

.buttons-Container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.buttons{
    width: 180px;
    height: 36px;
    border: none;
    border-radius: 8px;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #696969;
    padding: 0 8px;
    margin-right: 15px;
}

.buttons:hover{
    cursor: pointer;
    border: 1px solid #c6c6c6;
    text-shadow: 2px 2px 2px rgba(170, 170, 170, 0.3);
    color: rgb(29, 26, 26);
    width: 181px;
    height: 37px;
    font-size: 14.4px;
    box-shadow: 2px 2px 4px rgba(145, 145, 145, 0.4);

}

.buttons:active{
    width: 177px;
    height: 33px;
    border:  none;
    border-radius: 6px;
    background-color: #f2f2f2;
}


/*.text-under-buttons{
    display: flex;
    justify-content: center;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 13;
    font-weight: normal;
    margin-top: 30px;
}

.text-under-buttons a{
    color: rgb(35, 35, 168);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13;
}*/

/*Footer Styles*/

.footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.about-google a{
    margin: 10px;
    text-decoration: none;
    padding-left: 0px; 
    color: #3d3d3d;  
    font-family: 'Roboto', sans-serif;
}

.about-google a:hover{
  text-decoration: underline;
}

.terms-google{
    display: flex;
    justify-content: flex-end;
}

.terms-google a{
    margin: 10px;
    text-decoration: none;
    padding-left: 0px; 
    color: #3d3d3d;  
    font-family: 'Roboto', sans-serif;
}

.terms-google a:hover{
    text-decoration: underline;
}